# ===============================
# Visual Studio / .NET
# ===============================
.vs/
bin/
obj/

# ===============================
# IDEs
# ===============================
.idea/
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Docker
# ===============================
**/docker-data/

# ===============================
# Configurações locais / secrets
# ===============================
appsettings.Development.json
appsettings.Backup.json
