version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: trackfleet
      POSTGRES_USER: trackfleet
      POSTGRES_PASSWORD: trackfleet123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
